<% provide(:title, t('registration_title')) %>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h3>
      <%=yield(:title)%>
    </h3>
    <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit t('registration_button'), class: "btn btn-primary btn-block" %>
    <% end %>

  </div>
</div>
<div class="col-md-4">
</div>
